.position {
    margin-bottom: 10px;
    .position_title {
        line-height: 24px;
        h4 {
            max-width: 160px;
            font-size: 14px;
            a{
                color: #000;
            }
        }
    }
    .position_require {
        p {
            line-height: 20px;
            font-size: 12px;
        }
    }
    .position_company {
        line-height: 24px;
        .position_com_logo {
            width: 40px;
            height: 20px;
            margin-right: 10px;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        .position_com_name {
            width: 240px;
            font-size: 14px;
            a {
                color: #000;
            }
        }
    }
}
.position ::ng-deep .ant-card-body{
    padding: 0 10px;
}

.icon-more {
    margin-right: 10px;
    &:hover {
        color: #4d81b7;
    }
}

:host {
    background: #F5F5F5;
    overflow: hidden;
    display: block;
}

.card-container ::ng-deep .ant-tabs-card .ant-tabs-content {
    height: 310px;
    margin-top: -16px;
}

.card-container ::ng-deep .ant-tabs-card .ant-tabs-content .ant-tabs-tabpane {
    height: 310px;
    background: #fff;
    padding: 10px;
}

.card-container ::ng-deep .ant-tabs-card .ant-tabs-bar {
    border-color: #fff;
}

.card-container ::ng-deep .ant-tabs-card .ant-tabs-bar .ant-tabs-tab {
    border-color: transparent;
    background: transparent;
}

.card-container ::ng-deep .ant-tabs-card .ant-tabs-bar .ant-tabs-tab-active {
    border-color: #fff;
    background: #fff;
    border-top: 2px solid #4d81b7;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}