<div class="recruit">
  <div class="card-container">
    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzTabBarExtraContent]="extraTemplate">
      <nz-tab [nzTitle]="'机关招聘'">
        <div nz-row nzGutter="12">
          <div nz-col nzSpan="12">
            <nz-card class="position" nzHoverable>
              <div class="position_title clearfix">
                <h4 class="fl ellipsis"><a [routerLink]="['/web/zhaopin']" target="_blank" title="Python工程师Python工程师Python工程师Python工程师">Python工程师Python工程师Python工程师Python工程师</a></h4>
                <span class="fl">【{{ '2018-08-28' | date: 'MM-dd' }}】</span>
                <span class="fr danger">20K-30K</span>
              </div>
              <div class="position_require">
                <p>3年及以下 / 本科</p>
                <p>计算机/互联网/通信/电子</p>
              </div>
              <div class="position_company clearfix">
                <div class="position_com_logo fl"><img src="/assets/lib/imgs/test/test.jpg" alt=""></div>
                <div class="position_com_name ellipsis fl"><a [routerLink]="['/web/zhaopin']" target="_blank">天府新区人力资源开发服务有限公司</a></div>
              </div>
            </nz-card>
          </div>
          <div nz-col nzSpan="12">
            <nz-card class="position" nzHoverable>
              <div class="position_title clearfix">
                <h4 class="fl ellipsis"><a [routerLink]="['/web/zhaopin']" target="_blank" title="Python工程师Python工程师Python工程师Python工程师">Python工程师Python工程师Python工程师Python工程师</a></h4>
                <span class="fl">【{{ '2018-08-28' | date: 'MM-dd' }}】</span>
                <span class="fr danger">20K-30K</span>
              </div>
              <div class="position_require">
                <p>3年及以下 / 本科</p>
                <p>计算机/互联网/通信/电子</p>
              </div>
              <div class="position_company clearfix">
                <div class="position_com_logo fl"><img src="/assets/lib/imgs/test/test.jpg" alt=""></div>
                <div class="position_com_name ellipsis fl"><a [routerLink]="['/web/zhaopin']" target="_blank">天府新区人力资源开发服务有限公司</a></div>
              </div>
            </nz-card>
          </div>
          <div nz-col nzSpan="12">
            <nz-card class="position" nzHoverable>
              <div class="position_title clearfix">
                <h4 class="fl ellipsis"><a [routerLink]="['/web/zhaopin']" target="_blank" title="Python工程师Python工程师Python工程师Python工程师">Python工程师Python工程师Python工程师Python工程师</a></h4>
                <span class="fl">【{{ '2018-08-28' | date: 'MM-dd' }}】</span>
                <span class="fr danger">20K-30K</span>
              </div>
              <div class="position_require">
                <p>3年及以下 / 本科</p>
                <p>计算机/互联网/通信/电子</p>
              </div>
              <div class="position_company clearfix">
                <div class="position_com_logo fl"><img src="/assets/lib/imgs/test/test.jpg" alt=""></div>
                <div class="position_com_name ellipsis fl"><a [routerLink]="['/web/zhaopin']" target="_blank">天府新区人力资源开发服务有限公司</a></div>
              </div>
            </nz-card>
          </div>
          <div nz-col nzSpan="12">
            <nz-card class="position" nzHoverable>
              <div class="position_title clearfix">
                <h4 class="fl ellipsis"><a [routerLink]="['/web/zhaopin']" target="_blank" title="Python工程师Python工程师Python工程师Python工程师">Python工程师Python工程师Python工程师Python工程师</a></h4>
                <span class="fl">【{{ '2018-08-28' | date: 'MM-dd' }}】</span>
                <span class="fr danger">20K-30K</span>
              </div>
              <div class="position_require">
                <p>3年及以下 / 本科</p>
                <p>计算机/互联网/通信/电子</p>
              </div>
              <div class="position_company clearfix">
                <div class="position_com_logo fl"><img src="/assets/lib/imgs/test/test.jpg" alt=""></div>
                <div class="position_com_name ellipsis fl"><a [routerLink]="['/web/zhaopin']" target="_blank">天府新区人力资源开发服务有限公司</a></div>
              </div>
            </nz-card>
          </div>
          <div nz-col nzSpan="12">
            <nz-card class="position" nzHoverable>
              <div class="position_title clearfix">
                <h4 class="fl ellipsis"><a [routerLink]="['/web/zhaopin']" target="_blank" title="Python工程师Python工程师Python工程师Python工程师">Python工程师Python工程师Python工程师Python工程师</a></h4>
                <span class="fl">【{{ '2018-08-28' | date: 'MM-dd' }}】</span>
                <span class="fr danger">20K-30K</span>
              </div>
              <div class="position_require">
                <p>3年及以下 / 本科</p>
                <p>计算机/互联网/通信/电子</p>
              </div>
              <div class="position_company clearfix">
                <div class="position_com_logo fl"><img src="/assets/lib/imgs/test/test.jpg" alt=""></div>
                <div class="position_com_name ellipsis fl"><a [routerLink]="['/web/zhaopin']" target="_blank">天府新区人力资源开发服务有限公司</a></div>
              </div>
            </nz-card>
          </div>
          <div nz-col nzSpan="12">
            <nz-card class="position" nzHoverable>
              <div class="position_title clearfix">
                <h4 class="fl ellipsis"><a [routerLink]="['/web/zhaopin']" target="_blank" title="Python工程师Python工程师Python工程师Python工程师">Python工程师Python工程师Python工程师Python工程师</a></h4>
                <span class="fl">【{{ '2018-08-28' | date: 'MM-dd' }}】</span>
                <span class="fr danger">20K-30K</span>
              </div>
              <div class="position_require">
                <p>3年及以下 / 本科</p>
                <p>计算机/互联网/通信/电子</p>
              </div>
              <div class="position_company clearfix">
                <div class="position_com_logo fl"><img src="/assets/lib/imgs/test/test.jpg" alt=""></div>
                <div class="position_com_name ellipsis fl"><a [routerLink]="['/web/zhaopin']" target="_blank">天府新区人力资源开发服务有限公司</a></div>
              </div>
            </nz-card>
          </div>

        </div>
      </nz-tab>

      <nz-tab [nzTitle]="'企业招聘'">
        <p>Content of Tab Pane企业招聘   内容都不想填</p>

      </nz-tab>
    </nz-tabset>
    <ng-template #extraTemplate>
      <a class="icon-more"><i class="anticon anticon-right-circle-o"></i></a>
    </ng-template>
  </div>
</div>