<div class="bind-email">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email" nzRequired>电子邮箱</nz-form-label>
      <nz-form-control [nzSm]="18" [nzXs]="24">
        <input nz-input formControlName="email" id="email" placeholder="电子邮箱">
        <nz-form-explain *ngIf="validateForm.get('email').dirty && validateForm.get('email').errors">输入正确格式的电子邮箱</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="emailCaptcha" nzRequired>邮箱验证码</nz-form-label>
      <nz-form-control [nzSm]="18" [nzXs]="24">
        <div nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="14">
            <input nz-input formControlName="emailCaptcha" id="emailCaptcha">
          </div>
          <div nz-col [nzSpan]="10">
            <button nz-button (click)="getEmailCaptcha($event)">发送邮件</button>
          </div>
        </div>
        <nz-form-explain *ngIf="validateForm.get('emailCaptcha').dirty && validateForm.get('emailCaptcha').errors">输入您邮箱收到的验证码！</nz-form-explain>
      </nz-form-control>
    </nz-form-item>


    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="emailCaptcha" nzRequired>验证码</nz-form-label>
      <nz-form-control [nzSm]="18" [nzXs]="24">
            <div nz-row [nzGutter]="12">
                <div nz-col [nzSpan]="14">
                    <input nz-input formControlName="captcha" placeholder="输入验证码" id="captcha">
                </div>
                <div nz-col [nzSpan]="10" (click)="getCaptcha()">
                    <div class="captcha-img">
                        <img [src]="'http://localhost/captcha/' + captchaSrc.url" alt="">
                    </div>
                </div>
            </div>
            <nz-form-explain *ngIf="validateForm.get('captcha').dirty && validateForm.get('captcha').errors">请填写验证码!</nz-form-explain>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row style="margin-bottom:8px;">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button class="fl" [nzType]="'primary'">绑定</button>
        <a herf="javascript:;" class="login-form-forgot fr" (click)="destroyModal()">取消</a>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>