.my-resumes {
    .title {
        margin-bottom: 30px;
        position: relative;
        left: 0;
        top: 0;
        .creat-resume {
            line-height: 40px;
            position: absolute;
            right: 30px;
            top:0;
            span {
                margin-right: 10px;
            }
        }
    }
    .my-resumes-content {
        
    }
}