<div class="admin-top">
  <div class="row">
    <div class="top-content clearfix">
      <div class="logo fl">
        <a [routerLink]="['/web']">
          <img src="/assets/lib/imgs/logo.png" alt="温江恒信人力资源">
        </a>
      </div>
      <div class="oper fr">
        <div class="oper-back fl">
          <div class="back primary"><span class="home-icon"><i class="anticon anticon-home"></i></span><a [routerLink]="['/web']">回到首页</a></div>
        </div>
        <div class="fr"><a href="javascript:;" (click)="loginOut()">【退出】</a></div>
        <div class="fr"><span>您好, 用户名信息</span></div>
      </div>
    </div>
  </div>
  <div class="admin-top-border-bottom bg-primary"></div>
</div>