<footer>
  <div class="footer-line bg-primary"></div>
  <div class="footer_content row">
    <div class="text-center">
      <p>温江人才网_成都恒信人力资源_专注区域人才保障，服务区域产业发展！</p>
      <p>Copyright 温江人才网 All Rights Reserved</p>
      <p>地址(ADD): 成都市温江区南巷子9号 电话：028-82668098</p>
      <p>通信管理局ICP备案号：蜀ICP备15021166号-1</p>
    </div>
    <div class="footer_imgs_box">
      <div class="footer_imgs text-center">
        <a href="/" target="_blank"><img src="/assets/lib/imgs/test/ftImg01.png" alt=""></a>
        <a href="/" target="_blank"><img src="/assets/lib/imgs/test/ftImg02.png" alt=""></a>
        <a href="/" target="_blank"><img src="/assets/lib/imgs/test/ftImg03.png" alt=""></a>
        <a href="/" target="_blank"><img src="/assets/lib/imgs/test/gongshang.jpg" alt=""></a>
      </div>
    </div>
  </div>
</footer>