<div nz-row>
  <div nz-col [nzSpan]="12" class="advert-box">
    <app-ad-second [AdSecondList]="advertArray1"></app-ad-second>
  </div>
  <div nz-col [nzSpan]="12">
    <div nz-row>
      <div nz-col [nzSpan]="24" class="advert-one">
        <div class="ad-one-box">
          <a href="javascript:;">
            <img src="/assets/lib/imgs/test/banner2.jpg" alt="">
          </a>
        </div>
      </div>
      <div nz-col [nzSpan]="24" class="advert-one">
        <div class="ad-one-box">
          <a href="javascript:;">
            <img src="/assets/lib/imgs/test/banner2.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ad-second row">
  <div nz-row>
    <div nz-col [nzSpan]="24">
      <app-ad-second [AdSecondList]="advertArray2"></app-ad-second>
    </div>
  </div>
</div>
