.basic {
    .basic-form {
        .form {
            position: relative;
            left: 0;
            top: 0;
            .photo {
                position: absolute;
                right: 90px;
                top: 40px;
            }
        }
    }
}