<div class="bg-primary light">
  <nav class="row">
    <!-- <ul class="clearfix">
        <li class="fl"><a [routerLink]="['/web/home']">首页</a></li>
        <li class="fl"><a [routerLink]="['/web/zhaopin']">招聘</a></li>
        <li class="fl"><a [routerLink]="['/login']">登录</a></li>
        <li class="fl"><a [routerLink]="['/register']">注册</a></li>
      </ul> -->
    <ul class="clearfix nav-box">
      <li class="fl text-center" routerLinkActive="nav-active">
        <a [routerLink]="['/web/home']"><i class="anticon anticon-home"></i>
          网站首页</a>
      </li>
      <li class="fl text-center" routerLinkActive="nav-active">
        <a href="javascript:;"><i class="anticon anticon-folder-open"></i>
          招聘信息
          <i class="anticon anticon-down"></i>
        </a>
        <i class="anticon anticon-caret-up"></i>
        <ul class="sub_nav hide">
          <li><a [routerLink]="['/web/zhaopin']"><i class="anticon anticon-caret-right"></i>找工作</a></li>
          <li><a [routerLink]="['/web/zhaopin']"><i class="anticon anticon-caret-right"></i>找人才</a></li>
          <li><a [routerLink]="['/web/zhaopin']"><i class="anticon anticon-caret-right"></i>找企业</a></li>
        </ul>
      </li>
      <li class="fl text-center" routerLinkActive="nav-active">
        <a href="javascript:;"><i class="anticon anticon-user"></i>
          人才派遣
          <i class="anticon anticon-down"></i>
        </a>
        <i class="anticon anticon-caret-up"></i>
        <ul class="sub_nav hide">
          <li><a  [routerLink]="['/login']"><i class="anticon anticon-caret-right"></i>人才派遣简介</a></li>
          <li><a  [routerLink]="['/login']"><i class="anticon anticon-caret-right"></i>政策法规</a></li>
          <li><a  [routerLink]="['/login']"><i class="anticon anticon-caret-right"></i>行业资讯</a></li>
          <li><a  [routerLink]="['/login']"><i class="anticon anticon-caret-right"></i>活动播报</a></li>
          <li><a  [routerLink]="['/login']"><i class="anticon anticon-caret-right"></i>办事指南</a></li>
          <li><a  [routerLink]="['/login']"><i class="anticon anticon-caret-right"></i>相关下载</a></li>
          <li><a  [routerLink]="['/login']"><i class="anticon anticon-caret-right"></i>常见问题</a></li>
        </ul>
      </li>
      <li class="fl text-center" routerLinkActive="nav-active">
        <a href="javascript:;"><i class="anticon anticon-user"></i>
          培训测评
          <i class="anticon anticon-down"></i>
        </a>
        <i class="anticon anticon-caret-up"></i>
        <ul class="sub_nav hide">
            <li><a [routerLink]="['/login']"><i class="anticon anticon-caret-right"></i>找工作</a></li>
            <li><a [routerLink]="['/login']"><i class="anticon anticon-caret-right"></i>找人才</a></li>
            <li><a [routerLink]="['/login']"><i class="anticon anticon-caret-right"></i>找企业</a></li>
          </ul>
      </li>
      <li class="fl text-center" routerLinkActive="nav-active">
        <a href="javascript:;"><i class="anticon anticon-user"></i>
          关于我们
          <i class="anticon anticon-down"></i>
        </a>
        <i class="anticon anticon-caret-up"></i>
        <ul class="sub_nav hide">
            <li><a [routerLink]="['/web/about']"><i class="anticon anticon-caret-right"></i>找工作</a></li>
            <li><a [routerLink]="['/web/about']"><i class="anticon anticon-caret-right"></i>找人才</a></li>
            <li><a [routerLink]="['/web/about']"><i class="anticon anticon-caret-right"></i>找企业</a></li>
          </ul>
      </li>
    </ul>
  </nav>
</div>