<div class="index-page row">
  <h3 class="bg-primary light text-center">当前搭建了基础的网站结构</h3>
  <p> 1. 一级路由中含： 登录、注册、网页内容部分web(index、zhaopin)</p>
  <div class="bg-primary light router-describe">
    路由地址：
    <p> (1)、 /web/home</p>
    <p> (2)、 /web/zhaopin</p>
    <p> (3)、 /login</p>
    <p> (4)、 /register</p>
  </div>
  <p> 2. 网页内容部分添加了：公共的组件（header、 navbar、 footer、 模态框登录组件login）</p>
  <p> 3. 网页内容部分创建了子路由模块： index.module、  zhaopin.module</p>


  <footer>
    <p>
      备注：所有的特性模块、功能模块的目录结构：最外层只有module和routing两个文件、所有的组件内容均统一放在该目录下的component文件夹内！
    </p>
    <p>
      主题：添加了主题修改，在theme.less文件中，修改变量的默认颜色即可： 例如（@primary-color: red;）其它各个颜色在文件中有相应的说明!
    </p>
  </footer>

</div>