.index-page {
    background-color: #f8f4f2;
    padding-top: 10px;
    padding-bottom: 30px;
    .banner, .notific {
        width: 100%;
        height: 350px;
        overflow: hidden;
        &>div{
            height: 100%;
            overflow: hidden;
        }
        .banner_side_login{
            width: 265px;
        }
        .banner_box{
            width: 665px;
            margin: 0 10px;
        }
        .banner_side_list {
            width: 250px;
        }
    }
    // 新闻 和 职位列表
    .notific {
        margin-top: 30px;
    }
    // 两栏广告
    .advertising {
        margin-top: 10px;
        border: 1px solid #e9ecd8;
    }
}