.password {
    padding: 30px 0;
}
.modify-description {
    line-height: 40px;
    font-size: 12px;
    color: #000;
    text-indent: 20px;
    letter-spacing: 2px;
}
:host ::ng-deep .ant-btn-primary {
    background-color: #ed6517;
    border-color: #ed6517;
}