<div nz-row [nzGutter]="10" class="link bg-light">
  <div nz-col [nzSpan]="3">
    <div class="link_title text-center bg-primary light">
      <p class="link_title_zh">友情链接</p>
      <p class="link_title_en">FRIENDSHIP LINK</p>
    </div>
    <div class="link_add text-center">
      <a href="javascript:;">申请友情链接</a>
    </div>
  </div>
  <div nz-col [nzSpan]="21">
    <ul class="link_list clearfix">
      <li class="fl"><a href="javascript:;">天府菁英网</a></li>
      <li class="fl"><a href="javascript:;">成都天投集团</a></li>
      <li class="fl"><a href="javascript:;">双流人才网</a></li>
      <li class="fl"><a href="javascript:;">天府菁英网</a></li>
      <li class="fl"><a href="javascript:;">成都天投集团</a></li>
      <li class="fl"><a href="javascript:;">双流人才网</a></li>
      <li class="fl"><a href="javascript:;">天府菁英网</a></li>
      <li class="fl"><a href="javascript:;">成都天投集团</a></li>
      <li class="fl"><a href="javascript:;">双流人才网</a></li>
      <li class="fl"><a href="javascript:;">天府菁英网</a></li>
      <li class="fl"><a href="javascript:;">成都天投集团</a></li>
      <li class="fl"><a href="javascript:;">双流人才网</a></li>
      <li class="fl"><a href="javascript:;">天府菁英网</a></li>
      <li class="fl"><a href="javascript:;">成都天投集团</a></li>
      <li class="fl"><a href="javascript:;">双流人才网</a></li>
    </ul>
  </div>
</div>