<div class="job-info">
  <div class="title">
    <app-tab-title [Title]="'求职信息'"></app-tab-title>
  </div>
  <div nz-row class="home-padding">
    <div nz-col [nzSpan]="6">
      <div class="job-info-content text-center">
        <h3 class="warning">0</h3>
        <p><a href="javascript:;">面试通知</a></p>
      </div>
    </div>
    <div nz-col [nzSpan]="6">
      <div class="job-info-content text-center">
        <h3 class="warning">2</h3>
        <p><a href="javascript:;">简历被谁浏览</a></p>
      </div>
    </div>
    <div nz-col [nzSpan]="6">
      <div class="job-info-content text-center">
        <h3 class="warning">1</h3>
        <p><a href="javascript:;">职位申请记录</a></p>
      </div>
    </div>
    <div nz-col [nzSpan]="6">
      <div class="job-info-content text-center">
        <h3 class="warning">0</h3>
        <p><a href="javascript:;">职位收藏记录</a></p>
      </div>
    </div>
  </div>
</div>
<div class="spaceHeight"></div>
<div class="resume-info">
  <div class="resume-info-title">
    <app-tab-title [Title]="'简历信息'"></app-tab-title>
  </div>
  <div class="resume-info-content home-padding clearfix">
    <div class="resume fl">
      <p>我的简历 <span class="default">【默认】：老王的装逼简历</span></p>
      <p>简历被查看次数：<span class="warning">1</span> 次</p>
    </div>
    <div class="resume-oper fr clearfix">
      <div class="resume-oper-edit fl">编辑</div>
      <div class="resume-oper-review fr">预览</div>
    </div>
  </div>
</div>
<div class="spaceHeight"></div>
<div class="recommond-position">
  <div class="position-title">
    <app-tab-title [Title]="'推荐职位'"></app-tab-title>
  </div>
  <div class="position-content home-padding">
    <div nz-row [nzGutter]="8">
      <div nz-col [nzSpan]="8" class="position-info">
        <nz-card nzHoverable>
          <h3 class="position-name ellipsis"><a href="javascript:;">Python工程师sfasfsdfsdfsdfs</a></h3>
          <p class="danger">20K-50K</p>
          <p class="company-name ellipsis"><a href="javascript:;">成都天府新区人力资源开发服务有限公司</a></p>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8" class="position-info">
        <nz-card nzHoverable>
          <h3 class="position-name ellipsis"><a href="javascript:;">Python工程师sfasfsdfsdfsdfs</a></h3>
          <p class="danger">20K-50K</p>
          <p class="company-name ellipsis"><a href="javascript:;">成都天府新区人力资源开发服务有限公司</a></p>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8" class="position-info">
        <nz-card nzHoverable>
          <h3 class="position-name ellipsis"><a href="javascript:;">Python工程师sfasfsdfsdfsdfs</a></h3>
          <p class="danger">20K-50K</p>
          <p class="company-name ellipsis"><a href="javascript:;">成都天府新区人力资源开发服务有限公司</a></p>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8" class="position-info">
        <nz-card nzHoverable>
          <h3 class="position-name ellipsis"><a href="javascript:;">Python工程师sfasfsdfsdfsdfs</a></h3>
          <p class="danger">20K-50K</p>
          <p class="company-name ellipsis"><a href="javascript:;">成都天府新区人力资源开发服务有限公司</a></p>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8" class="position-info">
        <nz-card nzHoverable>
          <h3 class="position-name ellipsis"><a href="javascript:;">Python工程师sfasfsdfsdfsdfs</a></h3>
          <p class="danger">20K-50K</p>
          <p class="company-name ellipsis"><a href="javascript:;">成都天府新区人力资源开发服务有限公司</a></p>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8" class="position-info">
        <nz-card nzHoverable>
          <h3 class="position-name ellipsis"><a href="javascript:;">Python工程师sfasfsdfsdfsdfs</a></h3>
          <p class="danger">20K-50K</p>
          <p class="company-name ellipsis"><a href="javascript:;">成都天府新区人力资源开发服务有限公司</a></p>
        </nz-card>
      </div>
    </div>
  </div>
</div>