.job-info {
    .job-info-content {
        h3 {
            font-size: 26px;
        }
        p {
            line-height: 30px;
            font-size: 16px;
        }
    }
}
.spaceHeight {
    width: 850px;
    height: 24px;
    margin-bottom: 30px;
    background-color: #ddd;
}
.resume-info {
    .resume-info-content {
        .resume {
            line-height: 30px;
            font-size: 14px;
            .default {
                color: #2285c8;
            }
        }
        .resume-oper {
            width: 200px;
            margin-right: 50px;
        }
    }
}
.home-padding { 
    padding: 25px 0;
}
.recommond-position {
    .position-content {
        .position-info {
            margin: 10px 0;
            .position-name {
                font-size: 16px;
                a {
                    color: #000;
                }
            }
            .company-name {
                a {
                    color: #000;
                }
            }
        }
    }
}
:host ::ng-deep nz-card {
    .ant-card-body {
        padding: 10px 20px;
    }
}