/* You can add global styles to this file, and also import other style files */

// set default colors and backgournd-colors
$colors: ( primary: #55606a, success: #32db64, danger: #f53d3d, warning: #ff9702, light: #fff, dark: #101010);
@each $class,
$color in $colors {
    .#{$class} {
        color: $color !important;
    }
    .bg-#{$class} {
        background-color: $color !important;
    }
}

.hover:hover {
    color: map-get($map: $colors, $key:  primary)!important;
    a{
        color: map-get($map: $colors, $key:  primary)!important;
    }
}
div::before {
    background-color: map-get($map: $colors, $key: primary);
}

// 更多的字体图标
.icon-more {
    font-size: 18px;
}

